<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <load href="__PUBLIC__/Bootstrap/css/bootstrap.css"/>
    <load href="__PUBLIC__/Bootstrap/css/bootstrap-theme.css"/>
    <load href="__PUBLIC__/Css/font-awesome.min.css"/>
    <load href="__PUBLIC__/Css/templatemo_style.css"/>
</head>
<body class="bg-image" style="background-image:url('__PUBLIC__/Images/admin.jpg')">

<h1 class="green">资源浏览</h1>
<div class="container center-block templatemo-form-list-container templatemo-container lead">
    <div class="col-md-12 table-responsive">
        <form class="form-inline" style="margin-bottom: 5px" method="post" action="__APP__/Home/Assistant/seacher">
            <div class="form-group">
                <label class="sr-only" for="search">请输入关键字</label>
                <input type="text" class="form-control" name="key" id="search" placeholder="请输入关键字" style="width: 350px;height: 40px">
            </div>
            <button type="submit" class="btn btn-info" style="width: 80px;height: 40px;font-size: 20px">检索</button>
        </form>
        <table class="table table-bordered table-hover"  style="border-color: #00a0e9;text-align: center">
            <thead>
            <tr class="info">
                <th style="text-align: center;" title="点击排序">文件编号</th>
                <th style="text-align: center" title="点击排序">文件名称</th>
                <th style="text-align: center" title="点击排序">所属课程</th>
                <th style="text-align: center" title="点击排序">文件类型</th>
                <th style="text-align: center" title="点击排序">文件大小</th>
                <th style="text-align: center">在线浏览</th>
            </tr>
            </thead>
            <tbody>
            <volist name="allData" id="data">
                <tr class="warning">
                    <td><{$data.r_id}></td>
                    <td><{$data.r_name}></td>
                    <td><{$data.r_course}></td>
                    <td><{$data.r_type}></td>
                    <td><{$data.r_size}></td>
                    <td>
                        <switch name="data.r_type">
                            <case value="Doc">
                                <form action="__APP__/Home/Look/lookWord" method="post">
                                    <input type="hidden" name="path" value="<{$data.r_name}>-><{$data.r_id}>-><{$data.r_name}>">
                                    <button type="submit" style="background: transparent;border: none">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </button>
                                </form>
                            </case>
                            <case value="Pdf">
                                <form action="__APP__/Home/Look/lookPdf" method="post">
                                    <input type="hidden" name="path" value="__PUBLIC__/<{$data.r_address}>-><{$data.r_id}>-><{$data.r_name}>">
                                    <button type="submit" style="background: transparent;border: none">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </button>
                                </form>
                            </case>
                            <case value="PPT">
                                <form action="__APP__/Home/Look/lookPpt" method="post">
                                    <input type="hidden" name="path" value="<{$data.r_name}>-><{$data.r_id}>-><{$data.r_name}>">
                                    <button type="submit" style="background: transparent;border: none">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </button>
                                </form>
                            </case>
                            <case value="Execl">
                                <form action="__APP__/Home/Look/lookExecl" method="post">
                                    <input type="hidden" name="path" value="<{$data.r_name}>-><{$data.r_id}>-><{$data.r_name}>">
                                    <button type="submit" style="background: transparent;border: none">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </button>
                                </form>
                            </case>
                            <case value="Video">
                                <form action="__APP__/Home/Look/lookVideo" method="post">
                                    <input type="hidden" name="path" value="<{$data.r_address}>-><{$data.r_id}>-><{$data.r_name}>">
                                    <button type="submit" style="background: transparent;border: none">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </button>
                                </form>
                            </case>
                            <default />无法在线浏览
                        </switch>

                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
        <p style="text-align: center;color: #9724ff;"><{$page}></p>
    </div>
</div>
</body>
<load href="__PUBLIC__/lib/jquery/1.9.1/jquery.min.js"/>
<load href="__PUBLIC__/lib/layer/2.4/layer.js"/>
<load href="__PUBLIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"/>
<script>

    $(document).ready(function() {
        $('.table').dataTable({
            "bPaginate": false, //翻页功能
            "bLengthChange": false, //改变每页显示数据数量
            "bFilter": false, //过滤功能
            "bSort": true, //排序功能
            "bInfo": false,//页脚信息
            "bAutoWidth": false,//自动宽度
        });
    });
</script>
</html>