<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit|ie-comp|ie-stand">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <load href="__PUBLIC__/Bootstrap/css/bootstrap.css"/>
  <load href="__PUBLIC__/Bootstrap/css/bootstrap-theme.css"/>
  <load href="__PUBLIC__/Css/font-awesome.min.css"/>
  <load href="__PUBLIC__/Css/templatemo_style.css"/>
  <link rel="stylesheet" media="screen" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.min.css">
</head>
<body style="background: url('__PUBLIC__/Images/admin.jpg')">
<h1 class="green">修改密码</h1>
<div class="container center-block templatemo-form-list-container templatemo-container lead">
  <form class="form-horizontal" id="pwdform" method="post" action="__APP__/Home/Personal/completePassword">
    <div class="form-group">
      <label for="inputPassword" class="col-sm-2 control-label">旧&nbsp;密&nbsp;码</label>
      <div class="col-sm-10">
        <input type="password" name="oldPwd" class="form-control" id="inputPassword" placeholder="请输入旧密码" style="height: 40px;width: 300px">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword1" class="col-sm-2 control-label">新&nbsp;密&nbsp;码</label>
      <div class="col-sm-10">
        <input type="password" name="newPwd" class="form-control" id="inputPassword1" placeholder="请输入新密码" style="height: 40px;width: 300px">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword2" class="col-sm-2 control-label">核对密码</label>
      <div class="col-sm-10">
        <input type="password" name="checkPwd" class="form-control" id="inputPassword2" placeholder="请再次输入新密码" style="height: 40px;width: 300px">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success">提交</button>
      </div>
    </div>
  </form>
</div>
</body>
<load href="__PUBLIC__/lib/jquery/1.9.1/jquery.min.js"/>
<load href="__PUBLIC__/ValidataConfig/jquery.validate.js"/>
<load href="__PUBLIC__/ValidataConfig/jquery-ui.min.js"/>
<script>
    $.validator.setDefaults({
        showErrors: function(map, list) {
            var focussed = document.activeElement;
            if (focussed && $(focussed).is("input, textarea")) {
                $(this.currentForm).tooltip("close", {
                    currentTarget: focussed
                }, true)
            }
            this.currentElements.removeAttr("title").removeClass("ui-state-highlight");
            $.each(list, function(index, error) {
                $(error.element).attr("title", error.message).addClass("ui-state-highlight");
            });
            if (focussed && $(focussed).is("input, textarea")) {
                $(this.currentForm).tooltip("open", {
                    target: focussed
                });
            }
        }
    });
    $(function () {
        $("#pwdform").tooltip({
            show: false,
            hide: false
        });
        $('#pwdform').validate({
            rules:{
                oldPwd:{
                    required:true,
                },
                newPwd:"required",
                checkPwd:{
                    equalTo:"[name='newPwd']",
                    required:true
                }
            },
            messages:{
                oldPwd:"旧密码不得为空",
                newPwd:"新密码不得为空",
                checkPwd:"请再次输入新密码"
            }
        });
    });
</script>
</html>