<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit|ie-comp|ie-stand">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <load href="__PUBLIC__/Bootstrap/css/bootstrap.css"/>
  <load href="__PUBLIC__/Bootstrap/css/bootstrap-theme.css"/>
  <load href="__PUBLIC__/Css/font-awesome.min.css"/>
  <load href="__PUBLIC__/Css/templatemo_style.css"/>
</head>
<body style="background: url('__PUBLIC__/Images/admin.jpg')">
  <h1 class="green">修改密码</h1>
  <div class="container center-block templatemo-form-list-container templatemo-container lead">
    <form class="form-horizontal" id="pwdform" method="post">
      <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">旧&nbsp;密&nbsp;码</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword" placeholder="请输入旧密码" style="height: 40px;width: 300px">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword1" class="col-sm-2 control-label">新&nbsp;密&nbsp;码</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword1" placeholder="请输入新密码" style="height: 40px;width: 300px">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword2" class="col-sm-2 control-label">核对密码</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword2" placeholder="请再次输入新密码" style="height: 40px;width: 300px">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success" onclick="check()">提交</button>
        </div>
      </div>
    </form>
  </div>
</body>
<script>
function check() {
    var pwd1=document.getElementById('inputPassword1');
    var pwd2=document.getElementById('inputPassword2');
    var pwd=document.getElementById('inputPassword');
    if(pwd.value==''){
        alert("请输入旧密码");
    }else{
        if(pwd1.value!=pwd2.value){
            alert("两次密码不同");
        }else if(pwd1.value==''||pwd2.value==''){
            alert("新密码不能为空");
        }else{
            document.getElementById('pwdform').action='__APP__/Home/Student/completeChange';
        }
    }
}

</script>
</html>