<!DOCTYPE html>
<head>
	<title>个人信息</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<load href="__PUBLIC__/Bootstrap/css/bootstrap.css"/>
	<load href="__PUBLIC__/Bootstrap/css/bootstrap-theme.css"/>
	<load href="__PUBLIC__/Css/font-awesome.min.css"/>
	<load href="__PUBLIC__/Css/templatemo_style.css"/>
</head>
<body style="background: url('__PUBLIC__/Images/admin.jpg')">
<h1 class="green">个人信息</h1>
<div class="container center-block templatemo-form-list-container templatemo-container lead">
	<div class="col-md-12 table-responsive">
		<table class="table table-bordered table-hover" style="border-color: #00a0e9;text-align: center">
			<thead>
			<tr class="info">
				<th style="text-align: center">ID</th>
				<th style="text-align: center">姓名</th>
				<th style="text-align: center">性别</th>
				<th style="text-align: center">角色</th>
				<th style="text-align: center">班级</th>
			</tr>
			</thead>
			<tbody>
			<tr class="warning">
				<td>10086</td>
				<td>张三</td>
				<td>男</td>
				<td>学生</td>
				<td>一班</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>