<!DOCTYPE html>
<head>
	<title>个人信息</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<load href="__PUBLIC__/Bootstrap/css/bootstrap.css"/>
	<load href="__PUBLIC__/Bootstrap/css/bootstrap-theme.css"/>
	<load href="__PUBLIC__/Css/font-awesome.min.css"/>
	<load href="__PUBLIC__/Css/templatemo_style.css"/>
</head>
<body style="background: url('__PUBLIC__/Images/admin.jpg')">
<h1 class="green">个人信息</h1>
<div class="container center-block templatemo-form-list-container templatemo-container lead">
	<div class="col-md-12 table-responsive">
		<table class="table table-bordered table-hover" style="border-color: #00a0e9;text-align: center">
			<thead>
			<tr class="info">
				<th style="text-align: center">手机号</th>
				<th style="text-align: center">姓名</th>
				<th style="text-align: center">性别</th>
				<th style="text-align: center">职务</th>
				<th style="text-align: center">所教课程</th>
			</tr>
			</thead>
			<tbody>
			<volist name="data" id="teacher">
				<tr class="warning">
					<td><{$teacher.t_phone}></td>
					<td><{$teacher.t_name}></td>
					<td><{$teacher.t_sex}></td>
					<td><{$teacher.t_position}></td>
					<td><{$teacher.t_course}></td>
				</tr>
			</volist>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>