<!DOCTYPE html>
<html dir="ltr" mozdisallowselectionprint moznomarginboxes>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>在线浏览</title>
    <load href="__PUBLIC__/Pdfconfig/viewer.css"/>
    <load href="__PUBLIC__/Pdfconfig/compatibility.js"/>
    <load href="__PUBLIC__/Pdfconfig/locale/locale.properties"/>
    <load href="__PUBLIC__/Pdfconfig/l10n.js"/>
    <load href="__PUBLIC__/Pdfconfig/debugger.js"/>
    <load href="viewer.js"/>
    <load href="__PUBLIC__/Js/pdf.js"/>
    <load href="__PUBLIC__/Js/pdf.worker.js"/>
</head>
<body tabindex="1" class="loadingInProgress">
    <div style="text-align:center;clear:both"></div>
    <iframe frameborder="0" scrolling="no" src="__APP__/Home/Look/viewer" width="100%" height="100%"></iframe>
</body>
</html>

