<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <load href="__PUBLIC__/Bootstrap/css/bootstrap.css"/>
    <load href="__PUBLIC__/Bootstrap/css/bootstrap-theme.css"/>
    <load href="__PUBLIC__/Css/font-awesome.min.css"/>
    <load href="__PUBLIC__/Css/templatemo_style.css"/>
    <title>添加用户</title>
</head>

<body style="background-image:url('__PUBLIC__/Images/admin.jpg')">
<h1 class="green">添加用户</h1>
<div class="container center-block templatemo-form-list-container templatemo-container lead">
    <form class="form form-horizontal" method="post" id="submitForm">

        <div class="form-group">
            <label for="userId" class="col-sm-2 control-label">用&nbsp;&nbsp;&nbsp;&nbsp;户&nbsp;&nbsp;&nbsp;&nbsp;I&nbsp;&nbsp;&nbsp;&nbsp;D</label>
            <div class="col-sm-10">
                <input type="text" name="userId" class="form-control" id="userId" placeholder="学生请输入学号，其他请输入手机号" style="height: 40px;width: 300px">
            </div>
        </div>

        <div class="form-group">
            <label for="userName" class="col-sm-2 control-label">用&nbsp;&nbsp;&nbsp;户&nbsp;&nbsp;&nbsp;姓&nbsp;&nbsp;&nbsp;名</label>
            <div class="col-sm-10">
                <input type="text" name="userName" class="form-control" id="userName" placeholder="请输入用户姓名" style="height: 40px;width: 300px">
            </div>
        </div>
        <div class="form-group">
           <label for="userSex" class="col-sm-2 control-label">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</label>
             <div class="col-sm-10">
                 <select name="sex" class="form-control" style="height: 40px;width: 200px" id="userSex">
                     <option value="男">男</option>
                     <option value="女">女</option>
                 </select>
           </div>
        </div>

        <div class="form-group">
            <label for="firstPassword" class="col-sm-2 control-label">初&nbsp;始&nbsp;化&nbsp;密&nbsp;码</label>
            <div class="col-sm-10">
                <input type="password" name="password" class="form-control" id="firstPassword" placeholder="请输入初始化密码" style="height: 40px;width: 300px">
            </div>
        </div>

        <div class="form-group">
            <label for="checkPassword" class="col-sm-2 control-label">再次确认密码</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="checkPassword" placeholder="请再次输入初始化密码" style="height: 40px;width: 300px">
            </div>
        </div>

        <div class="form-group">
            <label for="userPosition" class="col-sm-2 control-label">职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;位</label>
            <div class="col-sm-10">
                <select name="position" name="position" class="form-control" style="height: 40px;width: 200px" id="userPosition">
                    <option value="1">学生</option>
                    <option value="2">助教</option>
                    <option value="3">讲师</option>
                    <option value="4">课程负责人</option>
                </select>
            </div>
        </div>

        <div class="form-group" id="id1" >
            <label for="classNo" class="col-sm-2 control-label">所&nbsp;&nbsp;在&nbsp;&nbsp;&nbsp;班&nbsp;&nbsp;&nbsp;级</label>
            <div class="col-sm-10">
                <select name="classNo" class="form-control" style="height: 40px;width: 200px" id="classNo">
                    <volist name="studentData" id="class">
                        <option value="<{$class.s_class}>"><{$class.s_class}></option>
                    </volist>
                </select>
            </div>
        </div>

        <div class="form-group" id="id2" style="display: none;">
            <label for="assistantCourse" class="col-sm-2 control-label">所&nbsp;&nbsp;教&nbsp;&nbsp;&nbsp;课&nbsp;&nbsp;&nbsp;程</label>
            <div class="col-sm-10">
                <select name="assistantCourse" class="form-control" style="height: 40px;width: 200px" id="assistantCourse">
                    <volist name="courseData" id="course">
                        <option value="<{$course.c_name}>"><{$course.c_name}></option>
                    </volist>
                </select>
            </div>
        </div>

        <div class="form-group" id="id3" style="display:none">
            <label for="teacherCourse" class="col-sm-2 control-label">所&nbsp;&nbsp;教&nbsp;&nbsp;&nbsp;课&nbsp;&nbsp;&nbsp;程</label>
            <div class="col-sm-10">
                <select name="teacherCourse" class="form-control" style="height: 40px;width: 200px" id="teacherCourse">
                    <volist name="courseData" id="course">
                        <option value="<{$course.c_name}>"><{$course.c_name}></option>
                    </volist>
                </select>
            </div>
        </div>

        <div class="form-group" id="id4" style="display: none;">
            <label for="managerCourse" class="col-sm-2 control-label">负&nbsp;&nbsp;责&nbsp;&nbsp;&nbsp;课&nbsp;&nbsp;&nbsp;程</label>
            <div class="col-sm-10">
                <select name="managerCourse" class="form-control" style="height: 40px;width: 200px" id="managerCourse">
                    <volist name="courseData" id="course">
                        <option value="<{$course.c_name}>"><{$course.c_name}></option>
                    </volist>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-info" onclick="check()" style="font-size: 20px">提交</button>
            </div>
        </div>
    </form>
</div>
</body>
<load href="__PUBLIC__/lib/jquery/1.9.1/jquery.min.js"/>
<script>
    var userId=document.getElementById('userId');
    var userName=document.getElementById('userName');
    var firstPassword=document.getElementById('firstPassword');
    var userSex=document.getElementById('userSex');
    var checkPassword=document.getElementById('checkPassword');

    function check() {
        if(userId.value==''&&userName.value==''&&firstPassword.value==''&&userSex.value==''&&checkPassword.value==''){
            alert("所有选项不得为空");
        }else{
            submitForm.action="__APP__/Home/User/completeAddUser";
        }
    }

    $('#userPosition').blur(function() {
        var str = $(this).val();
        if(str=='2'){
            document.getElementById('id2').style.display='inline';
            document.getElementById('id1').style.display='none';
            document.getElementById('id3').style.display='none';
            document.getElementById('id4').style.display='none';
        }else if(str=='3'){
            document.getElementById('id3').style.display='inline';
            document.getElementById('id1').style.display='none';
            document.getElementById('id2').style.display='none';
            document.getElementById('id4').style.display='none';
        }else if(str=='4'){
            document.getElementById('id4').style.display='inline';
            document.getElementById('id1').style.display='none';
            document.getElementById('id2').style.display='none';
            document.getElementById('id3').style.display='none';
        }else if(str=='1'){
            document.getElementById('id1').style.display='inline';
            document.getElementById('id2').style.display='none';
            document.getElementById('id3').style.display='none';
            document.getElementById('id4').style.display='none';
        }

    });
</script>
</html>