<!DOCTYPE html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <load href="__PUBLIC__/Bootstrap/css/bootstrap.css"/>
    <load href="__PUBLIC__/Bootstrap/css/bootstrap-theme.css"/>
    <load href="__PUBLIC__/Css/font-awesome.min.css"/>
    <load href="__PUBLIC__/Css/templatemo_style.css"/>
</head>
<body class="bg-image" style="background-image:url('__PUBLIC__/Images/admin.jpg')">

<h1 class="green">登录记录</h1>
<div class="container center-block templatemo-form-list-container templatemo-container lead">
    <div class="col-md-12 table-responsive">
        <table class="table table-bordered table-hover" style="border-color: #00a0e9;text-align: center">
            <thead>
            <tr class="info">
                <th style="text-align: center" title="点击排序">登录者ID</th>
                <th style="text-align: center" title="点击排序">登录者姓名</th>
                <th style="text-align: center" title="点击排序">登录IP</th>
                <th style="text-align: center" title="点击排序">登录所在地区</th>
                <th style="text-align: center" title="点击排序">登录记录时间</th>
            </tr>
            </thead>
            <tbody>
            <volist name="allData" id="data">
                <tr class="warning">
                    <td><{$data.lr_id}></td>
                    <td><{$data.lr_name}></td>
                    <td><{$data.lr_ip}></td>
                    <td>
                        <switch name="data.lr_address">
                            <case value="---">局域网访问</case>
                            <default /><{$data.lr_address}>
                        </switch>
                    </td>
                    <td><{$data.lr_time}></td>
                </tr>
            </volist>
            </tbody>
        </table>
        <p style="text-align: center;color: #9724ff;"><{$page}></p>
    </div>
</div>
</body>
<load href="__PUBLIC__/lib/jquery/1.9.1/jquery.min.js"/>
<load href="__PUBLIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"/>
<script>
    $(document).ready(function() {
        $('.table').dataTable({
            "bPaginate": false, //翻页功能
            "bLengthChange": false, //改变每页显示数据数量
            "bFilter": false, //过滤功能
            "bSort": true, //排序功能
            "bInfo": false,//页脚信息
            "bAutoWidth": false,//自动宽度
        });
    });
</script>
</html>