<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=0.5,minimum-scale=0.5,maximum-scale=1.0,user-scalable=no" />
    <title>上传资源</title>
    <load href="__PUBLIC__/Bootstrap/css/bootstrap.css"/>
    <load href="__PUBLIC__/Bootstrap/css/bootstrap-theme.css"/>
    <load href="__PUBLIC__/Css/font-awesome.min.css"/>
    <load href="__PUBLIC__/Css/templatemo_style.css"/>
    <load href="__PUBLIC__/Js/jquery-1.8.2.min.js"/>
</head>
<body style="background: url('__PUBLIC__/Images/admin.jpg')">
    <h1 class="green">上传文件</h1>
    <div class="container center-block templatemo-form-list-container templatemo-container lead">
            <!--上传组件部分-->
            <div id="uploader" class="wu-example">
                <div class="form-group">
                    <label for="course" class="col-sm-2 control-label"> 所&nbsp;属&nbsp;课&nbsp;程</label>
                    <div class="col-sm-10">
                        <select name="course" class="form-control" style="height: 40px;width: 200px" id="course">
                            <option value="C++">C++</option>
                            <option value="JAVA">JAVA</option>
                            <option value="Python">Python</option>
                            </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="keyWord" class="col-sm-2 control-label"> 检索关键字</label>
                    <div class="col-sm-10">
                        <input name="keyWord" type="text" class="form-control" id="keyWord" placeholder="请输入检索关键字" style="height: 40px;width: 200px">
                    </div>
                </div>
                <!--用来存放文件信息-->
                <div id="thelist" class="uploader-list"></div>
                <div class="btns">
                    <div id="picker" style="font-size: 20px">选择文件</div>
                    <button id="ctlBtn"  class="btn btn-info" style="font-size: 20px">开始上传</button>
                </div>
            </div>
    </div>
</body>
<load href="__PUBLIC__/UploadConfig/webuploader.css"/>
<load href="__PUBLIC__/UploadConfig/webuploader.js"/>
<script>
    var $list=$("#thelist");
    var $btn =$("#ctlBtn");
    var uploader = WebUploader.create({
        // 选完文件后，是否自动上传。
        auto: false,
        // swf文件路径
        swf: '__PUBLIC__/UploadConfig/Uploader.swf',
        // 文件接收服务端。
        server: '__APP__/Home/Resource/resourceUpload',
        // 选择文件的按钮
        pick: '#picker',
        //文件上传方式
        method:'POST',
        accept:{
            title:'office，PDF，MP4，压缩文件',
            extensions:'doc,docx,pdf,ppt,pptx,xlsx,xsl,txt,zip,rar,mp4',
            mimeTypes:'application/msword,application/pdf,application/vnd.ms-excel,application/x-xls,application/vnd.ms-powerpoint,application/x-ppt,application/zip,video/mpeg4,text/plain'
        },
        //允许同时最大上传进程数
        threads:10,
        //设置文件上传域的name
        fileVal:'file',
        //不压缩image
        resize: false,
    });

    uploader.on('fileQueued',function (file) {
        $list.append( '<div id="' + file.id + '" class="item">' +
            '<h4 class="info" style="color: #ff3e12;font-size: 25px">' + file.name +'------'+WebUploader.formatSize(file.size)+ '</h4>' +
            '<p class="state" style="color: rgba(154,11,70,0.68);font-size: 20px">等待上传......</p>' +
            '</div>' );
    });

    uploader.on('uploadProgress',function (file,percentage) {
        var $li = $( '#'+file.id ), $percent = $li.find('.progress .progress-bar');
        // 避免重复创建
        if ( !$percent.length ) {
            $percent = $('<div class="progress progress-striped active">' +
                '<div class="progress-bar" role="progressbar" style="width: 0%">' +
                '</div>' +
                '</div>').appendTo( $li ).find('.progress-bar');
        }
        $li.find('p.state').text('上传中');

        $percent.css( 'width', percentage * 100 + '%' );
    });

    uploader.on("error", function (type) {
        if (type == "Q_TYPE_DENIED") {
            alert("请上传office、pdf、mp4、压缩文件格式文件");
        }
    });

    uploader.on('uploadStart',function (file) {
        $( '#'+file.id ).find('p.state').text('开始上传...');
    });

    uploader.on( 'uploadSuccess', function( file ) {
        $( '#'+file.id ).find('p.state').text('已上传');
    });

    uploader.on( 'uploadError', function( file ) {
        $( '#'+file.id ).find('p.state').text('上传出错');
    });

    uploader.on( 'uploadComplete', function( file ) {
        $( '#'+file.id ).find('.progress').fadeOut();
    });


    $btn.on( 'click', function() {
        uploader.option('formData',{
            course:$('#course').val(),
            keyWord:$('#keyWord').val()
        })
        uploader.upload();
    });
</script>
</html>